<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
   <% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @books.each do |book| %>
<div>
   <%= image_tag @user.get_profile_image(80,80) %>
  <%= link_to post_image_path(post_image.id) do %>
  <p>title <%= book.title %></p>
   <% end %>
   <p>説明：<%= book.body %></p>
</div>
<% end %>


