<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'info', user: @book.user %>
    </div>
  
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
       <table class="table">
        <tbody>
         <tr>
          <td><%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= link_to user_path(@book.user.id) do %><%= @book.user.name %><% end %></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td><% if @book.user == current_user %>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_378" %><% end %></td>
          <td><% if @book.user == current_user %>
              <%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に削しますか？", 
              class: "btn btn-sm btn-danger destroy_book_378" %><% end %></td>
         </tr>
        </tbody>
       </table>
    </div>
 </div>
</div>
